@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

$font-family: "Ubuntu Sans", sans-serif;

* {
  font-family: $font-family !important;
}

.v-application {
  font-family: $font-family, sans-serif !important;
  .title {
  font-family: $font-family, sans-serif !important;
  }
}